<nav>
    <div>
        <a href="/"><h1>QuizYay</h1></a>
        <p>Contribute to the quiz questions and try answering some.</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Submit questions</a></li>
        <li><a href="/quiz">QUIZ</a></li>
    </ul>
</nav>