<nav>
    <div class="site-title">
        <a href="/"><h1><b>Q</b>uizYay</h1></a>
        <p>Contribute to the quiz questions and try answering some.</p>
    </div>
    <ul class="nav-links">
        <li><a href="/"><b>H</b>ome</a></li>
        <li><a href="/create"><b>S</b>ubmit questions</a></li>
        <li><a href="/quiz"><b>Q</b>UIZ</a></li>
    </ul>
</nav>