/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$bg-color: #e7d8af;
$text-color: #242424;
$transparent-color: #00000066;

:root {
    --bg-color: #e7d8af;
    --text-color: #242424;
    --transparent-color: #ffffff00;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: $bg-color;
    color: $text-color;
}

body {
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;

    & > p {
        margin-top: 5px;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 640px;
    max-height: 640px;
}

nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px 1fr ;
    justify-content: space-between;
    margin: 0 20px 50px 20px;
    min-height: 175px;
}

.site-title {
    grid-column: 1 / 4;
    grid-row: 2;
}

.site-title h1, .site-title b {
    font-size: 2em;
    margin-bottom: 5px;
}

.nav-links {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
}

.nav-links li {
    display: inline-block;
    margin-left: 15px;
    border-top: solid 2px;
    border-right: solid 2px;
    padding: 5px;
    height: 30px;
}

.nav-links li:hover, #createQuestionForm button:hover {
    border-top: none;
    border-right: none;
    border-left: solid 2px;
    border-bottom: solid 4px;
}

#createQuestionForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 590px;
    width: 60%;
}

#createQuestionForm label {
    font-weight: bold;
}

#createQuestionForm input {
    width: 400px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 2px dashed;
    border-right: 1px dotted;
    color: black;
    font-weight: bold;
}

#createQuestionForm button {
    width: 150px;
    height: 32px;
    text-align: center;
    border: none;
    border-top: solid 2px;
    border-right: solid 2px;
}

#createQuestionForm select, #createQuestionForm option {
    margin-left: 25px;
    border: none;
    border: 2px dashed;
    font-weight: bold;
    height: 40px;
    width: 40px;
}

#createQuestionForm button:hover {
    cursor: pointer;
}

.questions-container, .quiz-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 640px;
    justify-content: start;
    align-items: left;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    & > .question {
        margin: 7.5px 0 7.5px 0;
        padding: 5px;

        ol {
            position: relative;
            left: 20px;
        }

        li {
            margin: 2px 0 2px 0;

            &::marker {
                font-weight: bold;
            }
        }
    }

    & > button {
        margin-top: 8px;
        align-self: center;
        width: 60%;
        font-size: 18px;
    }
}

#quizResultModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $transparent-color;

    .quiz-result {
        position: relative;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid $text-color;
        border-top: 3px solid;
        border-right: 4px solid;
        width: 60%;
        height: 30%;
        min-height: 250px;
        max-width: 500px;
        border-radius: 2px;
        top: 120px;

        #closeModal {
            color: black;
            float: right;
            font-size: 28px;
            font-weight: bold;
            position: relative;
            bottom: 15px;

            &:hover, &:focus{
                color: gray;
                cursor: pointer;
            }
        }

        & > h3 {
            text-align: center;
        }

        & > div {
            padding-left: 30px;
            margin-top: 10px;
            height: 40%;
            width: 90%;
            text-align: center;
            
            P {
                font-weight:  bold;

                #totalScore {
                    display: inline-block;
                    margin-left: 30px;
                    font-size: 28px;
                    border: 2px solid;
                    width: 40px;
                }
            }

            & > div {
                margin-top: 5px;
                height: 33%;
            }
        }
    }
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.solution {
    border: 2px green dotted;
}