<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <h3>Are you lost?</h3><br>
        <p>Page not found</p>
        <h1>404</h1>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>